html{
  scroll-behavior: smooth;
}
.hero {
    color: #0b3a52;
    display: flex;
    justify-content: center;
    align-items: center;

}

.background-video {
    position: fixed;
    z-index: -1;
}

img.logo {
    display: block;
    margin: 20px auto;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    z-index: 2;
    filter: drop-shadow(0 0 0.75rem #00ffff);
  &:hover{
    animation: glow 1s ease-in-out infinite alternate;
  }
}

.branding {
    position: relative;
    align-items: center;
    justify-content: center;
}

/*---------------------------------------------NAVIGATION---------------------------------------------------------*/
nav {
  background-color: #3333336b;
  border-color: #00ffff;
  border-width: 2px;
  padding: 20px;
}
nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: "Orbitron", sans-serif;
  z-index: 3;
}
nav a:hover {
  background-image: linear-gradient(to right,#00ffff65,#00000053);
  color: black;
}
nav a.active {
  background-image: linear-gradient(to right,#00ffff6c,#00000044);
  color: white;
}

/*-------------------------------------------------------------------------------------------------------------- */


/*---------------------------------------------TITLES---------------------------------------------------------*/
a{
  text-decoration: none;
  color: #64d0eb;
  &:hover{
    color: #000000;
  }
}
h1{
  margin: 0;
  color: #64d0eb;
  font-family: "Orbitron", sans-serif;
}
.title {
    display: block;
    color: #64d0eb;
    font-family: "Orbitron", sans-serif;
    font-size: 100px;
    z-index: 2;
    font-size: 80px;
    text-align: center;
    margin-bottom: 50px;
}
.subtitle {
    padding-left: 50px;
    display: block;
    color: #64d0eb;
    font-family: "Orbitron", sans-serif;
    font-size: 50px;
    z-index: 2;
}
.term-title{
    padding-left: 10px;
    display: block;
    color: #23464f;
    font-family: "Orbitron", sans-serif;
    font-size: 50px;
    z-index: 2;
}
.term-description{
    margin: 10px 10px 10px 10px;
    padding-bottom: 20px;
    display: block;
    color: #23464f;
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    z-index: 2;
}
.term {
    border-color: #101414;
    border-width: 1px;
    padding-left: 5px;
    display: block;
    color: #2f6370;
    font-family: "Orbitron", sans-serif;
    font-size: 50px;
    z-index: 2;
    background-color: #00ffffc5;
    border-radius: 10px;
}
.p{
    padding-left: 50px;
    display: block;
    color: #64d0eb;
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    z-index: 2;
}
.glowing-title {
    display: block;
    color: #64d0eb;
    font-family: "Orbitron", sans-serif;
    font-size: 100px;
    z-index: 2;
    font-size: 80px;
    text-align: center;
    animation: glow 9s ease-in-out infinite alternate;
}
.glowing-title:hover {
    display: block;
    color: #64d0eb;
    font-family: "Orbitron", sans-serif;
    font-size: 100px;
    z-index: 2;
    font-size: 80px;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}
/*-------------------------------------------------------------------------------------------------------------- */


/*---------------------------------------------Buttons---------------------------------------------------------*/
.terms-buttons{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 2px));
  grid-gap: 2px;
  justify-content: center;
}

.action-button {
    text-align: center;
    height: 50px;
    width: 100%;
    margin:10px;
    padding: 10px;
    background-color: #00000088;
    color: #00ffff;
    border-radius: 5px;
    border-color: #00ffff;
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
}

.action-button:hover {
    height: 50px;
    width:100%;
    margin:10px;
    padding: 10px;
    background-color: #00ffff;
    color: #000000;
    border-radius: 5px;
    border-color: #00ffff;
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
    a {
      color: #000000;
    }
}
/*-------------------------------------------------------------------------------------------------------------- */

/*------------------------------------------------CARDS----------------------------------------------------------*/
.web-cards {
  max-width: 100%;
  margin: 1px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  justify-self: center;
  align-self: center;
  grid-gap: 0px;
}
.addon-cards {
  max-width: 100%;
  margin: 1px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-gap: 0px;
}
.card-description{
  display: table;
  justify-self: center;
}
.card {
  border: 5px solid  #00ffff;
  border-radius: 3px;
  background-color: #00ffff83;
  align-items: center;
  margin: 10px;
  &:hover{
    border: 5px solid  #09516d73;
    background-color: #2b4046a4;
    .card-title,
    .web-card-title,
    .card-price1,
    .card-price2,
    .card-price3,
    .card-description,
    .pos-price,
    .logo-price{
    background: -webkit-linear-gradient(#fcd913, #6d9006);
    font-family: "Orbitron", sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
  }
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-title {
    display: block;
    color: #011f27;
    font-family: "Orbitron", sans-serif;
    font-size: 70px;
    z-index: 2;
    text-align: center;
}
.web-card-title {
    display: block;
    color: #011f27;
    font-family: "Orbitron", sans-serif;
    font-size: 70px;
    z-index: 2;
    text-align: center;
}

li{
    color: #070909;
    font-family: "Oxanium", sans-serif, bold;
    font-size: 24px;
    font-weight: 400;
   

}

@property --num1 {
  syntax: "<integer>";
  initial-value: 1200;
  inherits: false;
}
.card-price1 {
  animation: counter1 2s  alternate ease-in-out;
  transition: --num1 1s;
  counter-reset: none;
  counter-reset: num var(--num1);
  text-align: center;
  font-size: 48px;
  background: -webkit-linear-gradient(#000000, #023939);
  font-family: "Orbitron", sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:after{
    content: counter(num);
  }
  &:hover{
    background: -webkit-linear-gradient(#fcd913, #242f02);
    font-family: "Orbitron", sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes counter1 {
  from {
    --num1: 0;
  }
  to {
    --num1: 1200;
  }
}

@property --num2 {
  syntax: "<integer>";
  initial-value: 2000;
  inherits: false;
}
.card-price2 {
  animation: counter2 2s  alternate ease-in-out;
  transition: --num2 1s;
  counter-reset: none;
  counter-reset: num var(--num2);
  text-align: center;
  font-size: 48px;
  background: -webkit-linear-gradient(#000000, #023939);
  font-family: "Orbitron", sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:after{
    content: counter(num);
  }
  &:hover{
    background: -webkit-linear-gradient(#fcd913, #242f02);
    font-family: "Orbitron", sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes counter2 {
  from {
    --num2: 0;
  }
  to {
    --num2: 2000;
  }
}

@property --num3 {
  syntax: "<integer>";
  initial-value: 5000;
  inherits: false;
}
.card-price3 {
  animation: counter3 2s  alternate ease-in-out;
  transition: --num3 1s;
  counter-reset: none;
  counter-reset: num var(--num3);
  text-align: center;
  font-size: 48px;
  background: -webkit-linear-gradient(#000000, #023939);
  font-family: "Orbitron", sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:after{
    content: counter(num);
  }
  &:hover{
    background: -webkit-linear-gradient(#fcd913, #242f02);
    font-family: "Orbitron", sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes counter3 {
  from {
    --num3: 0;
  }
  to {
    --num3: 5000;
  }
}

@property --num4 {
  syntax: "<integer>";
  initial-value: 500;
  inherits: false;
}
.logo-price {
  animation: counter4 2s  alternate ease-in-out;
  transition: --num1 1s;
  counter-reset: none;
  counter-reset: num var(--num4);
  text-align: center;
  font-size: 48px;
  background: -webkit-linear-gradient(#000000, #023939);
  font-family: "Orbitron", sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:after{
    content: counter(num);
  }
  &:hover{
    background: -webkit-linear-gradient(#fcd913, #242f02);
    font-family: "Orbitron", sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes counter4 {
  from {
    --num4: 0;
  }
  to {
    --num4: 500;
  }
}


@property --num5 {
  syntax: "<integer>";
  initial-value: 500;
  inherits: false;
}
.pos-price {
  animation: counter5 2s  alternate ease-in-out;
  transition: --num5 1s;
  counter-reset: none;
  counter-reset: num var(--num5);
  text-align: center;
  font-size: 48px;
  background: -webkit-linear-gradient(#000000, #023939);
  font-family: "Orbitron", sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:after{
    content: counter(num);
  }
  &:hover{
    background: -webkit-linear-gradient(#fcd913, #242f02);
    font-family: "Orbitron", sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes counter5 {
  from {
    --num5: 0;
  }
  to {
    --num5: 500;
  }
}
@property --num6 {
  syntax: "<integer>";
  initial-value: 500;
  inherits: false;
}
.pos-price2 {
  animation: counter6 2s  alternate ease-in-out;
  transition: --num6 1s;
  counter-reset: none;
  counter-reset: num var(--num6);
  text-align: center;
  font-size: 48px;
  background: -webkit-linear-gradient(#000000, #023939);
  font-family: "Orbitron", sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:after{
    content: counter(num);
  }
  &:hover{
    background: -webkit-linear-gradient(#fcd913, #242f02);
    font-family: "Orbitron", sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes counter6 {
  from {
    --num6: 0;
  }
  to {
    --num6:500;
  }
}
/*-------------------------------------------------------------------------------------------------------------- */

section{
  margin-top: 50px;
  height:auto;
  padding-top: 0;

}

.footer {
  height: 100px;
  display:block;
  align-items: center;
  background-color: #0b3a5200;
  color:#00ffff;
  z-index: 1;
  align-content: center;
  align-self: center;
  
}
.copyright{
  color: #00ffff;
  font-family: "Orbitron", sans-serif;
  text-align: center;
}
.socials {
 display: flex;
 justify-content: center;

}
.social-icon {
  margin: 10px;

}

/*----------------MEDIA------------------------------------------------------*/
@media screen and (max-width: 2200px) {
  .action-button{
    width:80%;
    &:hover{
      width:80%;
    }
  }
  img.logo{
    width: 50%;
    height: 50%;
    margin-bottom: 80px;
  } 
  .glowing-title,.glowing-title:hover,.title{ 
    font-size: 300%;
  }
  .card-title,.web-card-title{
    font-size: 250%;
  }
  .nav,.terms-buttons{
    width:100%;
    font-size: 30px;
  }
  .action-button,.action-button:hover{
    font-size: 70%;
  }
}
@media screen and (max-width: 1500px) {
  img.logo{
    width: 50%;
    height: 50%;
  } 
  .glowing-title,.glowing-title:hover,.title{ 
    font-size: 300%;
  }
  .card-title{
    font-size: 100%;
  }
  .nav,.terms-buttons,.action-button,.action-button:hover{
    width:100%;
    font-size: 100%;
  }
  .action-button,.action-button:hover{
    font-size: 70%;
  }
}
@media screen and (max-width: 1080px) {
  img.logo{
    width: 50%;
    height: 50%;
  } 
  .glowing-title,.glowing-title:hover,.title{ 
    font-size: 100%;
  }
  .card-title{
    font-size: 100%;
  }
  .web-card-title{
    font-size: 200%;
  }
  .nav,.terms-buttons,.action-button,.action-button:hover{
    width:100%;
    font-size: 100%;
  }
  .action-button,.action-button:hover{
    font-size: 70%;
  }
}
@media screen and (max-width: 800px) {
  img.logo{
    width: 50%;
    height: 50%;
  } 
  .glowing-title,.glowing-title:hover,.title{ 
    font-size: 300%;
  }
  .card-title{
    font-size: 80%;
  }
  .web-card-title{
    font-size: 200%;
  }
  .nav,.terms-buttons,.action-button,.action-button:hover{
    width:100%;
  }
  .action-button,.action-button:hover{
    font-size: 70%;
  }
  .web-cards {
  grid-template-columns: repeat(auto-fill, minmax(30%, fr));
  }
}
@media screen and (max-width: 600px) {
  img.logo{
    width: 50%;
    height: 50%;
  } 
  .glowing-title,.glowing-title:hover,.title{ 
    font-size: 200%;
  }
  .card-title{
    font-size: 100%;
  }
  .web-card-title{
    font-size: 200%;
  }
  .card-price,
  .card-price1,
  .card-price2,
  .card-price3,
  .logo-price,
  .pos-price,
  .pos-price2{
    font-size: 200%;
  }
  .nav,.terms-buttons,.action-button,.action-button:hover{
    width:100%;
    font-size: 80%;
  }
  .action-button,.action-button:hover{
    font-size: 70%;
  }
  input,textarea{
    width: 50%;
  }
  .web-cards {
    max-width: 100%;
    margin: 1px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60%, 1fr));
    justify-self: center;
    align-self: center;
    grid-gap: 0px;
  }
}
/*-------------------------------------------------------------------------------------------------------------- */


/*Animations*/
@keyframes glow {
  from {
    text-shadow: 0 0 10px #000000, 0 0 20px #fff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 50px #00ffff, 0 0 60px #00ffff, 0 0 70px #00ffff;
    filter: drop-shadow(0 0 0.75rem #00ffff);
  }
  
  to {
    text-shadow: 0 0 20px #000000, 0 0 30px #00ffff 0 0 40px #00ffff 0 0 50px #00ffff 0 0 60px #00ffff 0 0 70px #00ffff 0 0 80px #00ffff;
    filter: drop-shadow(0 0 0.9rem #173636);
  }
}


/*----------------FORMS------------------------------------------------------*/
.contact-section{
  margin-top: 50px;
  height:auto;
  padding-top: 0;
  text-align: center;
  display: block;
  justify-items: center;
  align-items: center;
  align-content: center;
}

form{
  text-align: center;
  display: block;
  justify-items: center;
  background-color: #0000003d;
  margin: 50px;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  width:90%;
}
.submit-button,
input,textarea{
  background-color: #00ffff75;
  border-color: #00ffff;
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
  align-items: center;
  &:hover{
    background-color: #00ffff;
    border-color: #008cff;
  }
 
}
.submit-button{
  margin-top: 10px;
  margin-bottom: 20px;
}
textarea,input{
  width: 80%;
}
.form-headings{
  margin: 20px;
  color: #64d0eb;
  font-family: "Orbitron", sans-serif;
}
